@CHARSET "UTF-8";

.combo {
	width: 100% !important;
}

.inputNums {
	width: 100% !important;
}

.labelPreco {
	color: red;
	font-size: 20pt;
}

.labelVlr {
	color: red;
	font-size: 17pt;
}

.labelInfos {
	font-size: 14pt;
}