@CHARSET "UTF-8";

.logo {
	padding-bottom: 5pt;
}

.combo {
	width: 92% !important;
}

.labelPreco {
	color: red;
	font-size: 20pt;
}

.labelVlr {
	color: red;
	font-size: 17pt;
}

.labelInfos {
	font-size: 14pt;
}

#login {
  position: relative;
  top: 50%;
  transform: translateY(260%);
}

#tbLog {
	border: 2px solid black;
}

.loginForm {
	border: medium;
    border-bottom-color: black;
}
